body{
    margin: 0%;
    padding: 0;
    width: 100%;
    height: 90vh;
    background-color: rgb(246, 222, 177);
}
.headers{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(204, 136, 9);
    display: flex;
    background-color:  rgb(244, 211, 150);
    height: 20%;
}
.headers img{
    width: 100%;
    height: 15vh;
    padding-top: 15px;
}
.headers #h1{
    padding-top: 20px;
    padding-left: 10px;
}
.headers span{
    color: green;
}
.section{
    display: flex;
    justify-content: space-between;
}
.section{
    padding: 20px;
    height: 60vh;
}
.section1 h2{
    margin-left: 8%;
    color:green;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.section2{
    width: 40%;
    height: 57vh;
    background-color:  rgb(244, 211, 150);
}
.section2 h2{
    text-align: center;
    text-decoration: underline;
    color:rgb(204, 136, 9);
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.section2 form{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 70%;
    justify-content: space-between;
    padding-left: 120px;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#input1{
    width: 40%;
}
#atten1{
    width: 43%;
}
#submitInput{
    padding: 6px;
    width:220%;
    border-radius: 25px;
    border: 2px solid rgb(204, 136, 9);
    background-color: orange;
    color: white;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}
.submission{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
}
.submission1{
    margin-left: -5%;
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.submission2{
    margin-left: 50px;
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.section2 form input{
    padding: 5px;
    background: none;
    border: 2px solid black;
}
.section2 form select{
    padding: 5px;
    width: 30%;
    background: none;
    border: 2px solid black;
}
.section3{
    height: 50vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    background-color:  rgb(244, 211, 150);
}
.section3 h2{
    text-align: center;
    text-decoration: underline;
    color:rgb(204, 136, 9);
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.section3 form{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 70%;
    justify-content: space-between;
    padding-left: 120px;
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.section3 table{
    text-align: center;
    border: 1px solid black;
}
th{
    padding: 20px;
    border: 1px solid black;
    color: green;
    font-weight: 800;
}
td{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid black;
}
